<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>OWASP Java Vulnerabilities</display-name>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>io.github.owasp.lab.common.auth.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/a01/vulnerable/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/a01/fixed/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>HealthServlet</servlet-name>
        <servlet-class>io.github.owasp.lab.common.health.HealthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HealthServlet</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>VulnerableDocumentServlet</servlet-name>
        <servlet-class>io.github.owasp.lab.a01_broken_access_control.vulnerable.VulnerableDocumentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VulnerableDocumentServlet</servlet-name>
        <url-pattern>/a01/vulnerable/documents</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FixedDocumentServlet</servlet-name>
        <servlet-class>io.github.owasp.lab.a01_broken_access_control.fixed.FixedDocumentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FixedDocumentServlet</servlet-name>
        <url-pattern>/a01/fixed/documents</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VulnerableDebugErrorServlet</servlet-name>
        <servlet-class>io.github.owasp.lab.a02_security_misconfiguration.vulnerable.VulnerableDebugErrorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VulnerableDebugErrorServlet</servlet-name>
        <url-pattern>/a02/vulnerable/debug-error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FixedDebugErrorServlet</servlet-name>
        <servlet-class>io.github.owasp.lab.a02_security_misconfiguration.fixed.FixedDebugErrorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FixedDebugErrorServlet</servlet-name>
        <url-pattern>/a02/fixed/debug-error</url-pattern>
    </servlet-mapping>

</web-app>